{% extends 'base.html' %}
{% block content %}

<h3 class="mb-3">📦 Products</h3>

<div class="row">
{% for p in products %}
    <div class="col-md-4">
        <div class="card mb-3 p-2 shadow-sm">
            <b>{{ p.name }}</b>
            <p>Price: {{ p.price }}</p>

            {% if p.stock <= p.low_stock_threshold %}
                <span class="text-danger">LOW STOCK</span>
            {% endif %}

            <a href="{% url 'add_to_cart' p.id %}" class="btn btn-sm btn-primary mt-2">
                Add to Cart
            </a>
        </div>
    </div>
{% endfor %}
</div>

<hr>

<h3>🛒 Cart</h3>

{% if cart_items %}
    <ul class="list-group">
    {% for item in cart_items %}
        <li class="list-group-item">
            {{ item.product.name }} |
            Qty: {{ item.qty }} |
            {{ item.subtotal }}

            <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-sm btn-danger float-end">
                Remove
            </a>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'checkout' %}" class="btn btn-success mt-3">
        Checkout 💰
    </a>
{% else %}
    <p>Cart is empty</p>
{% endif %}

{% endblock %}
